*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'inter' , sans-serif;

}
.google-header{
    font-family: 'poppies' , sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 14px;
    padding: 14px;
}
.nav-container{
 display: flex  ;
 align-items: center;
 gap: 14px;
}